*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  /* 10px / 16px * 100 = 62.5%  10px*/
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  background-color: #9a9a9a;
  position: relative;
}

.header {
  padding: 1rem;
  text-align: center;
  /* border-bottom: 3px solid yellow; */
}

.container {
  margin: 0 auto;
  /* width: 80%; */
  background: url(./assets/rm301-eye-10-c.jpg);
  background-size: cover;
  background-repeat: repeat;
  padding: 2rem;
  position: relative;
}

.map {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  gap: 0.8rem;
}

.map__block {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #a82020;
  min-width: 6rem;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
