// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  background-color: #9a9a9a;
  position: relative;
}

.map {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  gap: 0.8rem;
}
.main {
  & .container {
    background: url(../../../../../src/assets/rm301-eye-10-c.jpg);
    background-size: cover;
    background-repeat: repeat;
    position: relative;
    padding: 2rem;
  }
}
