// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  background-color: #9a9a9a;
  position: relative;
}

.main {
  background: linear-gradient(rgba(2, 12, 103, 0.331) 75%, transparent),
    url(../../../src/assets/file-20220623-51658-fb0ewc.webp);
  background-size: cover;
  background-repeat: no-repeat;
  & .container {
    position: relative;
    padding: 2rem;
  }
}
