.map__block {
  position: relative;
  background-color: #fff;
  min-width: 6rem;
  min-height: 6rem;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 1rem;
  text-align: center;

  border-radius: 0.2rem;

  transition: transform 0.2s, box-shadow 0.2s;

  & .wrapper {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;

    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: inherit;
    border: 1px solid #bababa;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.3);
  }

  & .wrapper:hover {
    z-index: 100;
  }

  &--argon {
    background-color: #a0a050;
    color: $text-color;
  }
  &--boron {
    background-color: #009070;
    color: $text-color;
  }
  &--paranid {
    background-color: #a080a0;
    color: $text-color;
  }
  &--split {
    background-color: #aa7634;
    color: $text-color;
  }
  &--teladi {
    background-color: #0075a0;
    color: $light-grey;
  }
  &--xenon {
    background-color: #d00050;
    color: $light-grey;
  }

  &:hover {
    box-shadow: 0 0 0.4rem 0.2rem rgba(255, 255, 255, 0.3);
  }

  &--side {
    position: absolute;
    width: 2rem;
    z-index: 1;
    border: 3px solid rgb(255, 255, 255);

    &-e {
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
    &-w {
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
    &-s {
      top: 100%;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
    &-n {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
}
